#contato {
  background-color: $branco;
  
  .container {
    padding: 60px 0 80px 0;
    height: 100%;
    border-right: 2px dashed $preto;
    border-left: 2px dashed $preto;
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      max-width: 480px;

      &::after {
        content: "";
        display: block;
        width: 425px;
        border-bottom: 2px dashed $cinza-claro;
        margin-top: 20px;

        @include mobile {
          max-width: 280px;
        }
      }

      @include mobile {
        max-width: 300px;
      }
    }

    @include mobile {
      max-width: 340px;
    }
  }

  h1 {
    font-family: $fonte-principal;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    align-items: center;
    text-align: center;
    margin: 0;
    color: $preto;

    &::after {
      content: "";
      display: block;
      width: 180px;
      border-bottom: 3px dashed $preto;
      margin: 20px auto 60px auto;

      @include mobile {
        width: 125px;
        margin: 10px auto 30px auto;
      }
    }

    @include mobile {
      font-size: 2.5rem;
    }
  }

  h2 {
    font-family: $fonte-principal;
    font-style: normal;
    font-weight: bold;
    font-size: 1.35rem;
    text-align: left;
    color: #020206;
    margin-top: 20px;
    width: 480px;

    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    @include mobile {
      max-width: 300px;
    }
  }

  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 28px;
    color: #575760;
    text-align: left;
    margin-top: 10px;
    width: 480px;

    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    @include mobile {
      max-width: 300px;
    }
  }
}