footer {
  background-color: $cinza-claro;
  padding: 60px 0;
  align-items: center;
  text-align: center;
  position: relative;

  p {
    font-family: $fonte-principal;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    color: $preto;
    text-align: center;
  }
}