header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $branco;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 300px;
  z-index: 999;
  box-shadow: 5px 5px 25px 25px rgba(0,0,0,.05);

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: $cinza-escuro;
    margin: 45px auto;
  }

  .linha {
    display: block;
    width: 300px;
    border-top: 2px dashed $preto;
    margin-bottom: 55px;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    li a {
      font-family: $fonte-secundaria;
      padding: 10px 25px;
      background-color: $preto;
      border-radius: 50px;
      color: $branco;
      text-decoration: none;
      font-size: 24px;
      font-weight: 500;
    }
  }
}