#first-sight {
  width: 100%;
  padding: 1rem 0;
  background-color: $preto;
  text-align: center;

  p {
    font-size: 1.5rem;
    color: $branco;
    font-family: $fonte-principal;


  @include mobile {
    font-size: $p;
    max-width: 300px;
    margin: 0 auto;
    font-weight: bold;
  }
  }
}

#intro {
  height: calc(100vh - 59px);
  width: 100%;
  background: url(../img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  position: relative;

  @include mobile {
    background: url(../img/intro-bg-mobile.jpg) no-repeat center;
    background-size: cover;
    height: calc(100vh - 72px);
  }

  h1 {
    font-family: $fonte-principal;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 68px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    max-width: 580px;
    margin: 300px auto 0 auto;

    @include mobile {
      margin-top: 150px;
      max-width: 300px;
      font-size: $titulo;
      line-height: 37px;

      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }

    &::after {
      content: "";
      display: block;
      width: 180px;
      border-bottom: 3px dashed $branco;
      margin: 40px auto 50px auto;

      @include mobile {
        width: 150px;
        margin: 30px auto 40px auto;
      }
    }
  }

  a {
    font-family: $fonte-secundaria;
    padding: 10px 25px;
    background-color: $cinza-claro;
    border-radius: 50px;
    color: $preto;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;

    img {
      margin: 0 0 1px 15px;

      @include mobile {
        margin: 0 0 0 10px;
        display: none;
      }
    }

  @include mobile {
    font-size: $botao;
  }
  }

  #scroll-holder {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 160px;
    height: 5px;
    background-color: $branco;
    border-radius: 3px;
    margin: 0 auto;

    @include mobile {
      bottom: 2rem;
      width: 100px;
      height: 4px;
    }
  }
}